<div class="sheet-container">
    <!--
        flex: 1 1 auto;
    -->
    <div class="sheet-header">

        <span class="float-left">
            <button mat-stroked-button color="primary" >
                <span class="material-icons">
                    link
                </span>
                Save a link to: BlockName
            </button>
        </span>
        <span class="float-right">
            <button mat-stroked-button color="primary">
                <span class="material-icons">
                    add_box
                </span>
                Save
            </button>
        </span>
        <br>
        <br><br>
        <mat-divider></mat-divider>

        <div class="jumbotron">
            <form class="note-form">
               
              
                <mat-form-field class="note-textarea">
                  <textarea matInput placeholder="Save a note"></textarea>
                </mat-form-field>
              </form>
          </div>






    </div>
    <br>

    <div class="sheet-body">

        <!--mat expansion list-->
    </div>


</div>