<mat-toolbar color="primary" class="mat-elevation-z4" style="padding: 20px;">
  <mat-toolbar-row>
    
    <button mat-fab color="primary"  (click)="onTitleClick()">
      <mat-icon>home</mat-icon>
    </button>

    <h2 style="padding-left: 1em;">
      Notiz
    </h2>

    
    
    <span class="right-side-spacer"></span>

    <!-- <button mat-stroked-button (click)="login()" *ngIf="!loggedIn">
      <i class="fas fa-sign-in-alt"></i>
      Login
    </button> -->

    <button mat-stroked-button (click)="logout()" *ngIf="loggedIn">
      <i class="fas fa-sign-out-alt"></i>
      Logout
    </button>
    <!-- 
      <button mat-stroked-button>
      <i class="fas fa-sign-out-alt"></i>
      Logout
    </button> 
  -->

  </mat-toolbar-row>

</mat-toolbar>