/* You can add global styles to this file, and also import other style files */

html,
body {
    height                 : 100%;
    background-image       : url(./assets/mountain.jpg);
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    -o-background-size     : cover;
    background-size        : cover;
    background-repeat:      no-repeat;
    background-attachment:  fixed;
    
    
    
}

body {
    margin     : 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bottom-sheet{
    width: 60pc;
}